#txt4 {
    margin-left: 6%;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    color: rgb(211, 211, 248);
    top: 12vh;
}
#download {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: rgb(211, 211, 248);
    margin-left: 6%;
    font-size: 30px;
    top: 15vh;
    position: relative;
}
#download:hover {
    color: aqua;
}
#decoration {
    height: 110%;
    width: 100%;
    position: absolute;
    background-color: rgb(114, 114, 244);
    opacity: 20%;
}
#btn1 {
    transition: all .5s ease;
    color: rgb(211, 211, 248);
    border: 3px solid white;
    font-family: Helvetica;
    font-size: 10px;
    opacity: 70%;
    text-transform: uppercase;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    top: 25vh;
    right: 19vh;
    position: relative;
    outline: none;
    border-radius: 4px;
}
#btn1:hover {
    color: #001F3F;
    background-color: #fff;
}